---
import HeadingOne from "../HeadingOne.astro";

const { content } = Astro.props;
---

<section class:list={["grid p-6"]}>
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid gap-4">
      <HeadingOne text={content.title} lineHeight />
      <p class:list={["text-sm xxl:text-xl md:max-w-[65%]"]}>
        {content.description}
      </p>
      <div>
        <p class:list={["text-sm xxl:text-lg"]}>
          role - {content.role}
        </p>
        <p class:list={["text-sm xxl:text-lg"]}>
          year - {content.year}
        </p>
        <p class:list={["text-sm xxl:text-lg"]}>
          technologies - {content.technologies}
        </p>
      </div>
    </div>
  </div>
</section>
