---
import Layout from "./Layout.astro";
import "../styles/global.css";
import HeadingOne from "../components/HeadingOne.astro";
import CSHero from "../components/case-studies/CSHero.astro";
import ImageSetOne from "../components/case-studies/ImageSetOne.astro";
import CSText from "../components/case-studies/CSText.astro";
import ImageSetTwo from "../components/case-studies/ImageSetTwo.astro";
import CSVideo from "../components/case-studies/CSVideo.astro";

const { content } = Astro.props;
---

<Layout title={`Case Study: ${content.title}`}>
  <main class:list={["grid", content.color]} data-theme={content.theme}>
    <CSHero content={content} />
    <ImageSetOne
      content={content}
      bgColorOne="bg-neutral"
      bgColorTwo="bg-primary"
      bgColorThree="bg-accent"
    />
    <CSText
      content={content}
      textHeader={content.challenge}
      textOne={content.challengeOne}
      textTwo={content.challengeTwo}
    />
    <ImageSetTwo content={content} />
    <CSText
      textHeader={content.solution}
      textOne={content.solutionOne}
      textTwo={content.solutionTwo}
    />
    <img src={content.waveOne} />
    <img src={content.waveTwo} />
    <CSText
      textHeader={content.takeaway}
      textOne={content.takeawayOne}
      textTwo={content.takeawayTwo}
    />
    <CSVideo content={content} />
  </main>
</Layout>
