---
import Layout from "./Layout.astro";
import "../styles/global.css";
import HeadingOne from "../components/HeadingOne.astro";
import CSHero from "../components/case-studies/CSHero.astro";
import ImageSetOne from "../components/case-studies/ImageSetOne.astro";
import CSChallenge from "../components/case-studies/CSChallenge.astro";
import CSSolution from "../components/case-studies/CSSolution.astro";
import ImageSetTwo from "../components/case-studies/ImageSetTwo.astro";
import CSVideo from "../components/case-studies/CSVideo.astro";

const { content } = Astro.props;
---

<Layout title={`Case Study: ${content.title}`}>
  <main class="grid">
    <CSHero content={content} />
    <ImageSetOne content={content} bgColor="bg-secondary" />
    <CSChallenge content={content} />
    <ImageSetTwo content={content} />
    <CSSolution content={content} />
    <CSVideo content={content} />
  </main>
</Layout>
